<% if (typeof pagination !== 'undefined' && pagination.totalPages > 1) { %>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= pagination.currentPage === 1 ? 'disabled' : '' %>">
      <a
        class="page-link"
        href="<%= pagination.baseUrl %>?page=<%= pagination.currentPage - 1 %>"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for (let i = 1; i <= pagination.totalPages; i++) { %>
    <li class="page-item <%= pagination.currentPage === i ? 'active' : '' %>">
      <a class="page-link" href="<%= pagination.baseUrl %>?page=<%= i %>"
        ><%= i %></a
      >
    </li>
    <% } %>
    <li
      class="page-item <%= pagination.currentPage === pagination.totalPages ? 'disabled' : '' %>"
    >
      <a
        class="page-link"
        href="<%= pagination.baseUrl %>?page=<%= pagination.currentPage + 1 %>"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<% } %>
