<nav class="topnav">
  <a href="/admin/dashboard" class="<%= active==='dashboard'?'active':'' %>"
    >Dashboard</a
  >
  <a
    href="/admin/deposits/pending"
    class="<%= active==='deposits'?'active':'' %>"
    >Deposits</a
  >
  <a
    href="/admin/withdrawals/pending"
    class="<%= active==='withdrawals'?'active':'' %>"
    >Withdrawals</a
  >
  <a href="/admin/plans" class="<%= active==='plans'?'active':'' %>">Plans</a>
  <a href="/admin/wallets/company" class="<%= active==='wallets'?'active':'' %>"
    >Company Wallets</a
  >
  <a href="/admin/users" class="<%= active==='users'?'active':'' %>">Users</a>
  <a
    href="/admin/earnings/credit"
    class="<%= active==='earnings'?'active':'' %>"
    >Credit Earnings</a
  >
</nav>
>
